<div class="flex flex-col gap-10 justify-center  w-auto m-auto p-5 bg-slate-700 text-stone-50">
  <h1 class="text-slate-300 font-bold">Daftar Produk</h1>
  <table cellpadding="8" class="w-70 border-separate border border-slate-500 ">
    <thead>
      <tr>
        <th class="border border-slate-600">ID</th>
        <th class="border border-slate-600">NAMA PRODUCT</th>
        <th class="border border-slate-600">HARGA</th>
        <th class="border border-slate-600">STOCK</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product)=> { %>
        <tr>
          <td class="border border-slate-600">
            <%= product.id %>
          </td>
          <td class="border border-slate-600">
            <%= product.name %>
          </td>
          <td class="border border-slate-600">
            <%= product.price %>
          </td>
          <td class="border border-slate-600 text-center">
            <%= product.stock %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>



</div>